extends layout

block content
  p.welcome Welcome to #{title}
  form( class='form-search' role='form' action='/' method='post' )
            fieldset
                input( type='words', name='words', class='search-input', placeholder='',required autofocus)
                button(class="search-btn" type="submit") Search


  block result
