extends index

block result
    mixin result_item(item)
              .item_block
                 if item
                   a(href=item.doc_url target="_blank") #{item.doc_title}
                   p #{item.doc_desc}
                   p
    if result_items
            ul
                each item in result_items
                    +result_item(item)
