extends layout

block content
    mixin result_item(item)
        .item_block
            a(href=#{item.doc_url}) #{item.doc_id}
            p #{item.doc_desc}
            p

    ul
        each item in result_items
            +result_item(item)
